<main class="post-list">
    <h1>Posts</h1>

    <section>
        <form id="searchform">
            <label>
                <div>Feed Category:</div>
                <select name="feedCategory" multiple>
                    {{ range .FeedCategories }}
                    <option {{ if .Selected }}selected{{ end }}>{{ .Title }}</option>
                    {{ end }}
                </select>
            </label>
            <label>
                <div>Feed:</div>
                <select name="feed" multiple>
                    {{ range .Feeds }}
                    <option {{ if .Selected }}selected{{ end }}>{{ .Title }}</option>
                    {{ end }}
                </select>
            </label>
            <label>
                <div>Post Category:</div>
                <select name="postCategory" multiple>
                    {{ range .PostCategories }}
                    <option {{ if .Selected }}selected{{ end }}>{{ .Title }}</option>
                    {{ end }}
                </select>
            </label>
            <div class="search-section">
                <div>
                    <label>
                        <input type="checkbox" name="oldestFirst" {{- if .OldestFirst }} checked{{ end }} />
                        Oldest first
                    </label>
                    <label>
                        <input type="checkbox" name="allPosts" {{- if .AllPosts }} checked{{ end }} />
                        Show all posts
                    </label>
                </div>
                <div class="search">
                    <input type="search" name="query" value="{{ .Query }}" />
                    <button>Search</button>
                </div>
            </div>
        </form>
    </section>

    <span>Found {{ .Results }} Posts</span>

    <button form="searchform" name="page" value="0">First Page</button>
    <button form="searchform" name="page" value="{{ .PagePrev }}">Previous Page</button>
    <section class="all-posts">
        {{ range .Posts }}
        <article lang="{{ .Language }}">
            {{ if .ImageUrl }}
            <img src="{{ .ImageUrl }}" alt="" loading="lazy" height="300" />
            {{ else }}
            <div class="placeholder" aria-hidden="true"></div>
            {{ end }}
            <div>
                <header>
                    <h2>
                        {{ if not .IsRead }}<span class="badge" lang="en-US">new*</span> {{ end }}
                        <a href="post/{{ .Rowid }}">{{ .Title }}</a>
                    </h2>
                    <p lang="en-US">By {{ .Author }} in {{ .FeedTitle }} {{ reltime .PublicationDate }}
                    </p>
                </header>
                <p>{{ htmlSafe .Excerpt }}</p>
            </div>
        </article>
        {{ end }}
    </section>

    <button form="searchform" name="page" value="{{ .PageNext }}">Next Page</button>
</main>
