<main>
    <header>
        {{ if .Post.ImageUrl }}
        <img src="{{ .Post.ImageUrl }}" alt="" height="300" />
        {{ end }}
        <h1>{{ .Post.Title }}</h1>
        <p>
            <a href="{{ .Post.Link }}">Original article</a>
            by {{ .Post.Author }}
            in <a href="/feed/{{ pathEscape .Post.FeedTitle }}">{{ .Post.FeedTitle }}</a>
            at <time datetime="{{ .Date }}">{{ .HumanDate }}</time>
        </p>
        <ul>
            {{ range .Categories }}
            <li><a href="/?category={{ . }}">{{ . }}</a></li>
            {{ end }}
        </ul>
        <form method="post">
            <button>Reimport Post</button>
        </form>
    </header>
    <article>
        {{ .Content }}
    </article>
</main>
