body {
    background-color: white;
    color: var(--color-black);
}

a {
    color: var(--color-blue-500);
}

a:visited {
    color: var(--color-purple-500);
}

.page-header {
    padding: var(--size-2);
    background-color: var(--color-grey-200);
    font-family: var(--font-sans);
}

.page-header > * {
    margin-right: var(--size-2);
}

.status {
    max-width: var(--width-xs);
    margin-left: auto;
    margin-right: auto;
    padding: var(--size-4);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-grey-900);
        color: var(--color-grey-50);
    }

    .page-header {
        background-color: var(--color-grey-700);
    }
}
