<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/pollen.css" />
    <link rel="stylesheet" type="text/css" href="/global.css" />
    {{ range .Styles }}
    <link rel="stylesheet" type="text/css" href="{{ . }}" />
    {{ end }}
    <title>RSS-Reader{{ if .Title }} - {{ .Title }}{{ end }}</title>
</head>

<body>
    <nav class="page-header">
        <a class="button {{ if eq .Tab "post-list" }}primary{{else}}secondary{{ end }}" href="/">
            All Posts
        </a>
        <a class="button {{ if eq .Tab "feed-list" }}primary{{else}}secondary{{ end }}" href="/feed">
            All Feeds
        </a>
    </nav>
    {{ embed }}
</body>

</html>
